.navbar .navbar-brand{
    color: #ef4444; 
    font-weight: bold;
}

.navbar .navbar-brand img{
    height: 50px;
}

.navbar-nav .nav-item .nav-link {
    font-family: Ubuntu;
    color: #ef4444;
    font-size: 16px;
}

.navbar-nav .nav-item  a:hover {
    color: #fff;
}

.btn-category a:hover {
    font-family: Ubuntu;
    background: #e50914;
    color: #fff;
}

.modal-movie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-custom {
    background: transparent;
    border: none;
    font-family: Ubuntu;

}

.btn-custom:hover {
    background: #e50914;
    border: none;
}

.nav-link span {
    color: #fff;
    font-weight: bold;
}

.nav-link {
    cursor: pointer;
}

.button {
    border: none;
    border-radius: 24px;
    background: #ef4444;
    color: #ffffff;
    padding: 6px 16px;
}

.profile {
    color: #fff;
    font-weight: bold;
}

.btn-profile {
    width: 40px; 
    height: 40px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 16px; 
    text-align: center; 
    margin-left: 30px;
    cursor: pointer;
    position: relative;
}

.sub-menu-wrap {
    position: relative;
    top: 100%;
    right: 10%;
    width: 320px;
}

.user-pic {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}