<nav class="navbar navbar-expand-lg fixed-top" [ngStyle]="navBg">
    <div class="container-fluid ms-5">
      <a class="navbar-brand" routerLink=""><img
          src="../../assets/a0151e0a3d3641d4baadfd01c40b6137__2_-removebg-preview.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
  
        <div class="btn-group ms-auto">
          <button class="btn btn-secondary btn-custom" type="button">
            <i class="bi bi-film m-2" routerLink="/cardMovie"></i>FILM  
          </button>
          <button type="button" class="btn btn-sm btn-danger dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu bg-dark ">
            <li class="nav-item btn-category" *ngFor="let genre of genresMovie">
              <a class="dropdown-item text-white " aria-current="page" [routerLink]= "['/cardMovie', genre.url]">{{genre.category}}</a>
            </li>
          </ul>
        </div>
  
        <div class="btn-group ms-3">
          <button class="btn btn-secondary btn-custom" type="button">
            <i class="bi bi-camera-reels m-2"></i>SERIE
          </button>
          <button type="button" class="btn btn-sm btn-danger dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu bg-dark">
            <li class="nav-item btn-category" *ngFor="let genre of genresMovie">
              <a class="dropdown-item text-white" aria-current="page" [routerLink]= "['/cardMovie', genre.url]">{{genre.category}}</a>
            </li>
          </ul>
        </div>
  
        <div class="btn-group ms-3">
          <button class="btn btn-secondary btn-custom"  type="button">
            <i class="bi bi-filter-square m-3"></i>Catalogue 
          </button>
        </div>
  
  
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" routerLink=""><i class="bi bi-house-gear-fill m-3"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="search"><i class="bi bi-search m-3"></i>Search</a> 
          </li>
          <li class="nav-item" *ngIf="profile">
            <a class="nav-link " routerLink="search" style="font-size: 20px; margin-left: 30px; color: #fff;">
              <div class="icon">
                <div class="badge">4</div>
                <i class="bi bi-bell"></i>
              </div>
            </a> 
          </li>
          <li class="nav-item" *ngIf="profile">
            <button class="btn btn-danger btn-profile" (click)="toggleMenu()">{{profile.firstName?.charAt(0)}}</button>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!profile" aria-current="page" style="margin-left: 30px; margin-right: 12px;" (click)="login()">Login</a> 
          </li>
          <button class="button" *ngIf="!profile" (click)="register()">Sign up</button> 
        </ul>
        <div class="sub-menu-wrap" id="subMenu">
          <div class="sub-menu">
            <div class="user-info">
              <img src="../../assets/gojo.jpeg" alt="" class="user-pic">    
              <div class="user-details">
                <h3>{{profile?.firstName+" "+profile?.lastName}}</h3>
                <h6>{{profile?.email}}</h6>   
              </div>      
            </div>
            
            <hr>
            <a href="" class="sub-menu-link">
              <i class="bi bi-person-fill"></i>
              <p>Edit profile</p>
              <span><i class="bi bi-chevron-right"></i></span>
            </a>
            <a href="" class="sub-menu-link">
              <i class="bi bi-gear-fill"></i>
              <p>Settings</p>
              <span><i class="bi bi-chevron-right"></i></span>
            </a>
            <a href="" class="sub-menu-link">
              <i class="bi bi-question-circle-fill"></i>
              <p>Help</p>
              <span><i class="bi bi-chevron-right"></i></span>
            </a>
            <hr>
            
            <a href="" class="sub-menu-link mt-4" (click)="logout()">
              <i class="bi bi-escape"></i>
              <p>Logout</p>
              <span><i class="bi bi-chevron-right"></i></span>
            </a>
          </div>
        </div>        
      </div>     
    </div>
  </nav>