
/* Dans votre fichier CSS global ou dans le composant spécifique */
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu';
  overflow-x: hidden;
  background: #27272a;
}

body::-webkit-scrollbar {
  width: 20px;
  background: #000000;
}

body::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 12px;
  border: 6px solid #000000;
}
/* Importing Bootstrap SCSS file. */

