<div class="contain mt-5">
    <div class="row p-5">
        <div class="col-lg-2" *ngIf="movieDetails.poster_path">
            <img src="https://image.tmdb.org/t/p/original/{{movieDetails.poster_path}}" alt=""> 
        </div>
        <div class="col-lg-10 mt-5 p-4">
             <h1 class="mt-2 mb-2">{{movieDetails.original_title}}</h1>
             <p class="mt-3 mb-3">{{movieDetails.overview}}</p>
             <a href="https://www.themoviedb.org/video/play?key={{movieVideo}}" target="_blank" class="btn btn-md mt-3">Watch trailer</a>
             <button class="btn block mt-3 ms-4" data-bs-toggle="modal" data-bs-target="#modalLogin">Watch Movie</button>         
            <div class="row mt-5">
              <div class="col-lg-6">
                <h5 class="text-white"><i class="bi bi-film p-3"></i>Genre: {{movieDetails.genres[0].name}} </h5>
                <h4 class="text-white"><i class="bi bi-clock-fill  p-3"></i>Duration: {{movieDetails.runtime}}</h4>
                <h4 class="text-white"><i class="bi bi-calendar-check-fill  p-3"></i>Date release: {{movieDetails.release_date}}</h4>
              </div>
              <div class="col-lg-6">
                <h4 class="text-white"><i class="bi bi-star-fill  p-3"></i>Popularity: {{movieDetails.popularity}} </h4>
                <h4 class="text-white"><i class="bi bi-translate  p-3"></i>Language: {{movieDetails.spoken_languages[0].english_name}}</h4>
                <h4 class="text-white"><i class="bi bi-coin  p-3"></i>Budget: {{movieDetails.budget}} $</h4>
              </div>
            </div>

             <div class="row mt-4 p-4">
                <h2 class="text-white">Top casting</h2>
                <div class="col-lg-4" *ngFor="let cast of movieCast" >
                    <div class="row" *ngIf="cast.profile_path">
                        <div class="col-lg-2">
                            <img src="https://image.tmdb.org/t/p/original/{{cast.profile_path}}" alt="">
                        </div>
                        <div class="col-lg-10 mt-4 mb-4">
                            <h3 class="text-white">{{cast.original_name}}</h3>
                            <h5 class="text-white">{{cast.character}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="#modalLogin" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark content-light">
      <div class="modal-header">
        <h3 class="modal-title text-white" id="exampleModalLabel">Watching the movie</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Contenu du modal -->
        <h2 class="fs-5">Popover in a modal</h2>
        <p>To watch this movie you does have an account and connected</p>
        <hr>
        <h2 class="fs-5">Tooltips in a modal</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="login()" data-bs-dismiss="modal">Login</button>
      </div>
    </div>
  </div>
</div>