.contain {
    margin-top: 10rem;   
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #e50914;
}

.singup a {
    color: #e50914;
}

.singup a:hover {
    color: #ffffff;
}


.input-button {
    border-radius: 24px;
    font-size: 16px;
}
.input-btn {
    border-radius: 24px;
    font-size: 16px;
}

input {
    font-size: 16px;
}
