<div class="contain-fluid mt-5">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" 
              data-bs-interval="3000"
             *ngFor="let banner of bannerData; let i=index"
             [ngClass]="{ 'active': i === 1 }">
  
              <img src="https://image.tmdb.org/t/p/original/{{banner.backdrop_path}}" 
              class="d-block w-100" alt="..."
              [routerLink]="['/movie', banner.id]">
  
  
          <div class="carousel-caption d-none d-md-block">
            <h1>{{banner.original_title}}</h1>
            <p>{{banner.overview}}</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
  </div>
  
  <div class="contain mt-3 p-4">
      <div class="row">
  
          <div class="card-movie-genre">
              <div class="btn-genre-contain">
                  <button class="btn btn-genre">Action</button>
              </div>
              <div class="rowposter mt-3 p-2">
                  <ng-container *ngFor="let action of actionMovie">
                      <img src="https://image.tmdb.org/t/p/original/{{action.poster_path}}" 
                      class="rowing largeposter" alt="..." 
                      [routerLink]="['/movie', action.id]">
                  </ng-container>
              </div>
          </div>
  
          <div class="card-movie-genre">
              <div class="btn-genre-contain">
                  <button class="btn btn-genre">Adventure</button>
              </div>
              <div class="rowposter mt-3 p-2">
                  <ng-container *ngFor="let Adventure of adventureMovie">
                      <img src="https://image.tmdb.org/t/p/original/{{Adventure.poster_path}}" 
                      class="rowing largeposter" alt="..."
                      [routerLink]="['/movie', Adventure.id]">
                  </ng-container>
              </div>
          </div>
  
          <div class="card-movie-genre">
              <div class="btn-genre-contain">
                  <button class="btn btn-genre">Animation</button>
              </div>
              <div class="rowposter mt-3 p-2">
                  <ng-container *ngFor="let animation of animationMovie">
                      <img src="https://image.tmdb.org/t/p/original/{{animation.poster_path}}" 
                      class="rowing largeposter" alt="..."
                      [routerLink]="['/movie', animation.id]">
                  </ng-container>
              </div>
          </div>
  
          <div class="card-movie-genre">
              <div class="btn-genre-contain">
                  <button class="btn btn-genre">Comedy</button>
              </div>
              <div class="rowposter mt-3 p-2">
                  <ng-container *ngFor="let comedy of comedyMovie">
                      <img src="https://image.tmdb.org/t/p/original/{{comedy.poster_path}}" 
                      class="rowing largeposter" alt="..."
                      [routerLink]="['/movie', comedy.id]">
                  </ng-container>
              </div>
          </div>
  
          <div class="card-movie-genre">
              <div class="btn-genre-contain">
                  <button class="btn btn-genre">Science Fiction</button>
              </div>
              <div class="rowposter mt-3 p-2">
                  <ng-container *ngFor="let scienceFiction of scienceFictionMovie">
                      <img src="https://image.tmdb.org/t/p/original/{{scienceFiction.poster_path}}" 
                      class="rowing largeposter" alt="..."
                      [routerLink]="['/movie', scienceFiction.id]">
                  </ng-container>
              </div>
          </div>
  
         <div class="card-movie-genre">
          <div class="btn-genre-contain">
              <button class="btn btn-genre">Thriller</button>
          </div>
          <div class="rowposter mt-3 p-2">
              <ng-container *ngFor="let thriller of thrillerMovie">
                  <img src="https://image.tmdb.org/t/p/original/{{thriller.poster_path}}" 
                  class="rowing largeposter" alt="..."
                  [routerLink]="['/movie', thriller.id]">
              </ng-container>
          </div>
         </div>
        
      </div>
  </div>