.carousel-inner {
    height: 700px;
}

.carousel-inner .carousel-item img {
    height: 700px;
    object-fit: cover;
}

.carousel-caption h1 {
    color: #e50914;
    font-weight: bold;
    font-size: 60px;
}

.carousel-item img {
    cursor: pointer;
}

.rowposter {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.text-white {
    font-size: 16px;
}

.text-red {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #e50914;
    font-weight: bold;
    font-size: 20px;
}

.rowing {
    max-height: 200px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 300ms;
    margin-right: 2px;
}

.rowposter {
    scrollbar-width: 200px;
}

.rowing:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.rowposter::-webkit-scrollbar {
    //display: none;
    background: #27272a;
    border-radius: 12px;
}

.rowposter::-webkit-scrollbar-thumb {
    //display: none;
    background: #dc2626;
    border-radius: 20px;
    border: 7px solid #27272a;
    width: 50px;
}
.largeposter {
    max-width: 600px;
}

.btn-genre {
    background: #dc2626;
    color: #ffffff;
    border-radius: 30px;
    width: 200px;
    font-family: Ubuntu;

}

.btn-genre-contain {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-movie-genre {
    border-radius: 10px;
    padding-bottom: 15px;
    margin-bottom: 16px;
    background: #1d1717;
    box-shadow: 20px 20px 20px rgba(20, 20, 20, 0.2);
}